*.dat
*.plt
*.png
*.avi
*.mov
*.log
*.pdf
*.eps
*.ps
*.svg
*.pyc

*.png
*.mp4

__pycache__
.idea
.ipynb_checkpoints
.DS_Store

.pytest_cache/
*.egg-info/

untitled.*
.coverage
myresults.xml
artifacts
*.pickle
pytest-cobertura.xml
dist/

examples/*.plt
