*.dat
*.png
*.avi
*.mov
*.log
*.pdf
*.eps
*.pyc

__pycache__
.idea
.ipynb_checkpoints
.DS_Store

.pytest_cache/
*.egg-info/

untitled.*
.coverage
myresults.xml
artifacts
*.pickle
pytest-cobertura.xml

examples/*.plt
