*.dat
*.plt
*.png
*.avi
*.mov
*.log
*.pdf
*.eps
*.ps
*.svg
*.pyc

*.png
*.mp4

__pycache__
.idea
.ipynb_checkpoints
.DS_Store

.pytest_cache/
*.egg-info/

untitled.*
.coverage
myresults.xml
artifacts
*.pickle
pytest-cobertura.xml
dist/

examples/*.plt
sample_data/*
!sample_data/PARAM.in
!sample_data/STAR.in
!sample_data/POYNTINGFLUX.in
!sample_data/3d__var_2_n00006003.plt
!sample_data/3d__var_2_n00060005.plt
